
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.header_container {
padding: 20px;
  background: rgb(34, 41, 61);
}

.header_nav {

}

.navigation_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
}

.navigation_item {
  list-style: none;
  padding-right: 15px;
}

.nav_link {
  color: red;
}


.main_header {
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 25px; 
}

.logo {
  border-radius: 100px;  
  border: 3px solid rgb(38, 0, 128);  
  box-shadow: 0 0 7px #666; 
  margin-top: 35px;
  margin-right: 15px;
}

.main_content_title{ 
align-self: center;
border-bottom: chocolate 5px solid;
}

.main_container {
  display: flex; 
 
}

.main_content_title {
  border-top: 5px solid darkblue;
}

